# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Podfile.lock

# Another Trash
/windows/
/linux/
/web/
/macos/
love_choice.iml

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Turk
secret.txt
codemagic.yaml
firebase.json
build.bat
android/.kotlin/sessions/kotlin-compiler-1060616231414960632.salive
android/local.properties
android/local.properties
android/local.properties
