:root {
  --bs-indigo: #6610f2; /* اللون الأساسي */
  --bs-indigo-rgb: 102, 16, 242;
}

.bg-indigo {
  background-color: var(--bs-indigo) !important;
}
.text-indigo {
  color: var(--bs-indigo) !important;
}
.btn-indigo {
  background-color: var(--bs-indigo);
  border-color: var(--bs-indigo);
  color: #fff;
}
.btn-indigo:hover {
  background-color: #520dc2;
  border-color: #520dc2;
}

/* add font */
@font-face {
    font-family: 'TurkFont';
    src: url('assets/fonts/arabic_font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TurkFontD';
    src: url('assets/fonts/dewan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TurkLogo';
    src: url('assets/fonts/logo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TurkFontE';
    src: url('assets/fonts/ZTOtez-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'TurkFontE', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

nav {
    width: 100%;
    /* background-color: var(--bs-indigo) !important; */
    color: #fff;
    padding: 10px;
}

.navtitle {
    font-family: TurkLogo;
    font-size: 35px; color: #fff;
    text-shadow: blueviolet 0px 0px 1px, blueviolet 0px 0px 5px, blueviolet 0px 0px 15px;
}

.bg-body-tertiary {
    background-color: var(--bs-indigo) !important;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.navbar-toggler-icon {
    color: #fff !important;
}

.--bs-navbar-active-color {
    color: #fff !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'TurkFont', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    margin-top: 50px;
}

.download_btn {
  font-family: 'TurkFont', sans-serif ; 
  background-color: var(--bs-indigo) ;
  border-color: var(--bs-indigo) ; 
  color: #fff ; 
  padding: 10px 20px ; 
  text-decoration: none ;
  border-radius: 20px;
  border: white 2px solid;
  box-shadow: #5900ff 0px 0px 1px, #6610f2 0px 0px 5px, #3f00a3 0px 0px 10px;
}

.download_btn:hover {
    background-color: #520dc2;
    box-shadow: #520dc2 0px 0px 1px, #6610f2 0px 0px 5px, #3f00a3 0px 0px 10px;
    transform: scale(1.05);
    transition: transform 0.2s ease-in;
}


.title {
    font-family: 'TurkFont', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.text {
    font-family: 'TurkFont', sans-serif;
    font-size: 1.2rem;
    color: #fff;
}

.total {
    font-family: 'TurkFont', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: var(--bs-indigo);
    margin: 20px 0;
    padding: 0px 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 0.5s ease-in forwards;
}

legend {
    font-family: 'TurkFont', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    padding: 0 10px;
    background-color: var(--bs-indigo);
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, #6610f2, #6f42c1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    top: -40px;
    /* left: 50%; */
    animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.linktile {
    width: 100%;
    padding: 10px;
}

.linktile a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #6610f2, #6f42c1);
    padding: 10px 20px;
    padding-left: 5px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    animation: fromscalehove 0.25s ease-out forwards;
}
.linktile a img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}
.linktile a:hover {
    animation: scalehove 0.25s ease-out forwards;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.linktile h5 {
    font-size: 1.2rem;
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: 1;
}


@keyframes scalehove {
      from { transform: scale(1); }
      to   { transform: scale(1.1); }
    }
@keyframes fromscalehove {
      from { transform: scale(1.1); }
      to   { transform: scale(1); }
    }